    body{
        margin: 0;
        font-family: 'Fjalla One', sans-serif;
        background-color: rgb(247, 251, 253);
    }
    .nav-link{
        color: rgb(250, 200, 99) !important;
    }


    .nav-header{
        position: sticky;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 5;
    }
    .site-hero{
        background-image: url(../img/capa.jpg);
        background-size: cover;
        background-position: center center;
        height: 100%;
        width: 100%;
        position: fixed;
    }
    .site-about{
        background-image: url(../img/sobre.jpg);
        width: 100%;
        background-position: center center;
        height: 450px;
        background-size: cover;
        position: relative;

    }


    .d-block{
        width: 400px;
        height: 400px;

    }

    
    @media (max-width: 789px) 
    {
        .teste 
        {
            display: none;
        }   
    }

    .bg-section{
        background: #e6b367;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #dacb89, #e6b367, #e6b367, #dacb89);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #dacb89, #e6b367, #e6b367, #dacb89); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        border-top: 1px solid rgba(0,0,0,0);
        box-shadow: 0 0 1px;
        padding-bottom: 4px;
    }

    .links{
        color: rgb(250, 200, 99);
        text-decoration: none;
    }

    .links:hover{
        text-decoration: none;
        text-shadow: 1px;
        color:  #e6b367;
    }
    
    .page-footer{
        position: fixed;
        bottom: 0;
        color: grey;
    

    }